body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}

#map {
    height: 100%;
}

#dev-menu {
    margin-top: 175px;
    height: 600px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
}